.tech {
    margin-top: 20px;
    width: 50vw;
}

.developer {
    margin-top: 20px;
    width: 50vw;
}

.techHeader {
    width: 50vw;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.developerHeader {
    width: 50vw;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.row {
    display: flex;
    height: 40px;
    width: 50vw;
    padding-left: 15px;
}

.rowHeader {
    display: flex;
    background-color: #e5e5e5;
    width: 50vw;
    height: 40px;
    padding-left: 15px;
}

.loading {

}