.button {
}

.disabled {
    background: #80a5cc;
}

.secondary {
    background: #ffffff;
}

.default {
    background: #0066cc;
}

.red {
    background: #cc1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
